a.validated_check span {
    vertical-align: middle;
}

.validated_is_valid {
    color: green;
}

.validated_not_valid {
    color: #ff0000;
}

.validated_loading {
    display: none;
}

.column-validated_check a {
    font-weight: bold;
}

.column-validated_check a span.dashicons {
    vertical-align: bottom;
    font-size: 16px;
}