<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<directory prefix="test-" suffix=".php">./tests/</directory>
		</testsuite>
		<filter>
			<whitelist
					addUncoveredFilesFromWhitelist="true"
					processUncoveredFilesFromWhitelist="true">
				<directory suffix=".php">./</directory>
			</whitelist>
		</filter>
		<logging>
			<log type="coverage-html" target="./results/phpunit"/>
			<log type="coverage-clover" target="./results/phpunit/coverage.xml"/>
		</logging>
	</testsuites>
</phpunit>
